<script>
    function deleteIngredient(id) {
        console.log(id) 
        $.ajax({    
            type: "POST",
            url: "/admin/delete-ingredient", 
            data:{ ingredient_id: id },            
            success: function(data){   
                console.log(data);
                location.reload();
            }
        });
        location.reload();
    }

    function editIngredient(id) {
        console.log(id) 
        let name = $(`#name${id}`).val();
        let measure = $(`#measure${id}`).val();
        $.ajax({    
            type: "POST",
            url: "/admin/update-ingredient", 
            data:{ ingredient_id: id, ingredient_name: name, ingredient_measure: measure },            
            success: function(data){ 
                console.log(data);
                location.reload();
            }
        });
        location.reload();
    }

    function addIngredient() {
        let name = $(`#ingredient_name`).val();
        let measure = $(`#ingredient_measure`).val();
        $.ajax({    
            type: "POST",
            url: "/admin/add-ingredient", 
            data:{ ingredient_name: name, ingredient_measure: measure },            
            success: function(data){ 
                console.log(data);
                location.reload();
            }
        });
        location.reload();
    }

</script>

<div class="">
    <div class="d-flex">
        <div class="" style="width: 200px;">
            <%- include('./admin-sidebar.ejs') -%>
        </div>
        <div class="p-3 w-100 mx-4">
            <div class="d-flex justify-content-between my-3">
                <input class="form-control mr-sm-2 w-25" id="searchRecipe" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn text-white" style="background-color: #93A28B;"  data-toggle="modal" data-target="#addIngredientModal">Thêm nguyên liệu</button>

                <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header"></div>
                        <div class="modal-body ">
                            <form class="text-start">
                                <div class="form-group mb-3">
                                  <label class="mb-2">Tên nguyên liệu</label>
                                  <input type="text" class="form-control" id="ingredient_name">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="mb-2">Đơn vị</label>
                                    <input type="text" class="form-control" id="ingredient_measure">
                                </div>
                                <div class="">
                                    <button type="button" class="btn btn-primary" onclick="addIngredient()">Add</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                        
                      </div>
                    </div>
                </div>
            </div>
            
            <table class="table table-bordered table-striped " id="recipeTable">
                <thead class="thead-dark">
                <tr>
                    <th style="background-color: #93A28B; color: white; width: 5%;">#</th>
                    <th style="background-color: #93A28B; color: white; width: 20%;">Tên</th>
                    <th style="background-color: #93A28B; color: white; width: 20%;">Đơn vị</th>
                    <th style="background-color: #93A28B; color: white; width: 15%;">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <% for( let i = 0; i < ingredients.length; i++ ) { %>
                    <tr>
                        <td><%= i %> </td>
                        <td><%= ingredients[i].ingredient_name %> </td>
                        <td><p><%= ingredients[i].ingredient_measure %> </p></td>
                        <td class="text-center">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteIngredientModal<%= ingredients[i].ingredient_id %>">Delete</button>
                              <!-- Delete Modal -->
                            <div class="modal fade" id="deleteIngredientModal<%= ingredients[i].ingredient_id %>" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body ">
                                        <h3 class="my-4">Bạn có chắc muốn xóa không?</h3>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" onclick="deleteIngredient(<%= ingredients[i].ingredient_id %> )">Yes</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <button class="btn btn-warning" data-toggle="modal" data-target="#editIngredientModal<%= ingredients[i].ingredient_id %>">Edit</button>
                            <!-- Edit Modal -->
                            <div class="modal fade" id="editIngredientModal<%= ingredients[i].ingredient_id %>" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header"></div>
                                    <div class="modal-body ">
                                        <form class="text-start">
                                            <div class="form-group mb-3">
                                              <label class="mb-2">Tên</label>
                                              <input type="text" class="form-control" id="name<%= ingredients[i].ingredient_id %>" value="<%= ingredients[i].ingredient_name %>">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="mb-2">Đơn vị</label>
                                                <input type="text" class="form-control" id="measure<%= ingredients[i].ingredient_id %>" value="<%= ingredients[i].ingredient_measure %>">
                                              </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" onclick="editIngredient(<%= ingredients[i].ingredient_id %>)">Update</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
  
</div>

<script>
    $(document).ready( function () {
        var table = $('#recipeTable').DataTable({dom: 'p'});
        $('#searchRecipe').on( 'keyup', function () {
            table
                .columns( 1 )
                .search( this.value )
                .draw();
        } );
    } );
</script>
