<%- include('../layout/header.ejs') -%>

<link rel="stylesheet" href="../../stylesheets/detail-recipe.css">

<div class="container">
    <div class="post_container">
        <div class="info">
            <img src="../../assets/user.svg" alt="">
            <p class="username"><%= recipe.user_name %> </p>
            <p class="time"><%= recipe.recipe_time %> </p>
        </div>
        <p class="recipe-name"><%= recipe.recipe_name %> </p>
        <img class="recipe-img" src="<%= recipe.recipe_image %> " alt="" width="100%">

        <div class="content">
            <p class="title">Nguyên liệu</p>
            <ul>
                <% for( let item of recipe.recipe_ingredient ) { %>
                    <li><%= item %> </li>
                <% } %>
            </ul>
            <p class="title">Cách làm</p>
            <pre><%= recipe.recipe_tutorior %></pre>
        </div>

        <div class="rating">
            <div class="rate">
                <i class="fas fa-star fill-star"></i>
                <i class="fas fa-star fill-star"></i>
                <i class="fas fa-star fill-star"></i>
                <i class="fas fa-star fill-star"></i>
                <i class="fas fa-star empty-star"></i>
            </div>
            <div class="like">
                <% if (recipe.is_favorite) { %>
                    <span id="dislike<%= recipe.recipe_id %>" style="display: none;" onclick="removeFavoriteRecipe(<%= recipe.recipe_id %>, <%= recipe.favorite_user %>)">
                        <i class="fas fa-heart liked"></i>
                    </span>
                    <span id="like<%= recipe.recipe_id %>" onclick="addFavoriteRecipe(<%= recipe.recipe_id %>, <%= recipe.favorite_user %>)">
                        <i class="far fa-heart unlike"></i>
                    </span>
                <% } else { %>
                    <span id="dislike<%= recipe.recipe_id %>" onclick="removeFavoriteRecipe(<%= recipe.recipe_id %>, <%= recipe.favorite_user %>)">
                        <i class="fas fa-heart liked"></i>
                    </span>
                    <span id="like<%= recipe.recipe_id %>" style="display: none;" onclick="addFavoriteRecipe(<%= recipe.recipe_id %>, <%= recipe.favorite_user %>)">
                        <i class="far fa-heart unlike"></i>
                    </span>
                <% } %>
            </div>
        </div>
    </div>
</div>

<script src="../../js/post.js"></script>
