<link rel="stylesheet" href="../../stylesheets/post-favorite.css">

<div class="post_container">
    <div class="row h-100">
        <div class="col-md-4 p-0">
            <img class="recipe_img" src="<%= recipe.recipe_image %> " alt="">
        </div>
        <div class="col-md-8 p-0">
            <div class="recipe_info h-100">
                <div>
                    <div class="info">
                        <img src="../../assets/user.svg" alt="">
                        
                        <p class="username px-3"><%= recipe.user_name %> </p>
                        <p class="time"><%= recipe.recipe_time %> </p>
                    </div>
                    <a href="/recipe/<%= recipe.recipe_id %>">
                        <p class="recipe-name"><%= recipe.recipe_name %> </p>
                    </a>
                    
                </div>
                
                <div class="rating">
                    <div class="rate">
                        <% for( let i = 1; i <= 5; i++ ) { %>
                            <span class="star unvoted-star<%= i %><%= recipe.recipe_id %> " onclick="voteStar(<%= i %>, <%= recipe.recipe_id %>)">
                                <i class="fas fa-star empty-star"></i>
                            </span>
                            <span class="star voted-star voted-star<%= i %><%= recipe.recipe_id %> ">
                                <i class="fas fa-star fill-star"></i>
                            </span>
                            <span class="star disable-star disable-star<%= i %><%= recipe.recipe_id %> ">
                                <i class="fas fa-star empty-star"></i>
                            </span>
                        <% } %>
                        <p><%= recipe.recipe_rating %> </p>
                    </div>
                    <div class="like">
                        <span id="like<%= recipe.recipe_id %>" style="display: none;"><i class="far fa-heart unlike"></i></span>
                        <span id="dislike<%= recipe.recipe_id %>" onclick="removeFavoriteRecipe(<%= recipe.recipe_id %>, <%= recipe.favorite_user %>)"><i class="fas fa-heart liked"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../js/post.js"></script>